/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of page*/

body {
  font-family: "Chakra Petch", sans-serif;
  margin: 1%;
  font-size: 1.6rem;
  color: rgb(204, 255, 255);
  background-image: linear-gradient(rgb(0, 0, 0), rgb(34, 3, 3));
}

.name {
  font-size: 2.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 80px;
  top: 0;
  background: transparent;
  left: 0;
}

.navbtn {
 background-color: rgb(4, 40, 49);
  border: hidden;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 50px;
  height: 50px;
  width: 600px;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../Saved Pictures/pexels-irina-iriser-1366957.jpg");
  background-size: 100%;
  padding: 13%;
  margin: 2%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  font-family: "Geo", sans-serif;
  font-size: 8rem;
  text-align: center;
  color:rgb(233, 255, 255);
  margin-left: 10px;
}

footer {
  text-align: center;
  background-color: rgb(4, 40, 49);
  padding: 1.5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-style: italic;
  align-content: space-between;
}

.project {
    
}

.project img {
  max-width: 100%;
  width: 35rem;
  height: 25rem;
  object-fit: cover;
}

h3 {
  text-align: center;
  transition: 2s;
  color: rgb(35, 148, 182);
}

h3:hover {
  transition: 1s;
  color: rgb(204, 255, 255);
}

footer button {
  background-color: transparent;
  border: hidden;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5rem;
  transition: 1.5s;
  color: rgb(204, 239, 255);
  border-radius: 1rem;
  padding: 1rem;
}

footer button:hover {
  transition: 1.5s;
  background-color: rgb(28, 118, 145);
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  cursor: pointer;

  }
}
